$primary: #77dd77;

$font-color: #333;
$bg-color: #afcbd2;

$button-color: #333;
$button-bg-color: transparent;
$button-border-color: #333;
$button-font-color: #333;

$button-bg-hover: #00d917;
$button-font-hover: #333;

$mobile-breakpoint: 767px;
