$primary: #77dd77;

$font-color: #333;
$bg-color: #f0f0f0;

$button-color: #333;
$button-bg-color: transparent;
$button-border-color: #333;
$button-font-color: #333;

$button-bg-hover: #333;
$button-font-hover: #fff;
