@import "../../styles/variables.scss";

.copy {
  .copy-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.3rem;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 0;

    @media (max-width: $mobile-breakpoint) {
      top: unset;
      bottom: 0;
    }
  }

  .copy-modal {
    display: none;

    .copy-inner {
      background-color: #fff;
      padding: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 20%;
      z-index: 3;

      @media (max-width: $mobile-breakpoint) {
        margin: 0 5%;
      }

      .copy-x {
        text-decoration: none;
        color: #333;
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
      }

      .copy-link {
        background-color: #ddd;
        padding: 10px;
        margin: 40px 0;
        word-break: break-all;
      }

      .copy-icon {
        padding-right: 15px;
      }

      .copied {
        margin: 0 15px;
        animation: fadeOut 2s ease-in-out forwards 1s;
      }

      form {
        visibility: hidden;
      }
    }

    .modal-bg {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
