@import "../../styles/variables.scss";

.box {
  height: 200px;
  width: 200px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 2rem;
  transform-origin: 50% 50%;
  text-decoration: none;
  color: #333;

  &:hover {
    cursor: pointer;
    i svg {
      transform: scale(1.2);
    }
  }

  i {
    svg {
      height: 100px;
      width: 100px !important;
      transition: all 0.3s ease-in-out;
      transform-origin: 50% 50%;
    }
  }

  span {
    text-transform: capitalize;
  }

  &.happy {
    background-color: #f9ce29;
  }

  &.sad {
    background-color: #b1c4f5;
  }

  &.mad {
    background-color: #ed5e3d;
  }

  &.jealous {
    background-color: #4cc1a2;
  }

  &.surprised {
    background-color: #b586c5;
  }

  &.ashamed {
    background-color: #e99261;
  }

  &.worried {
    background-color: #c9e0d2;
  }

  &.scared {
    background-color: #2b2bd6;
  }

  &.free {
    background-color: #b3b3b3;
  }
}
